.booking {

    .trapezoid {
        border-bottom: 50px solid rgba(128, 128, 128, 0.81);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        height: 0;
        width: 80%;
        opacity: 0.8;
        filter: drop-shadow(1px 20px 21px rgba(102, 102, 102, 0.812));
    }

    // Ghế thường
    .ghe {
        width: 35px;
        height: 35px;
        border-radius: 5px;
        cursor: pointer;
        margin: 15px;
        border: none;
        background-color: rgb(2, 187, 8);
        color: #fff;
    }

    // Ghế đang chọn
    .gheDangDat {
        background-color: #fd8424 !important;
    }

    .gheVip {
        background-color: rgba(243, 211, 4, 0.974);
    }

    .gheDaDat {
        background-color: rgb(123, 122, 122);
        cursor: no-drop;
    }

    .gheDaDuocTaiKhoanNayDat {
        background-color: #fff !important;
        box-shadow: -1px 2px 8px 0px #6a6969;
        color: #fd8424;
        border: 2px solid;
    }

    >.ant-tabs-nav::before {
        border-bottom: none !important;
    }

    .ant-tabs-nav {
        padding-left: 2rem;
        font-weight: 600;
    }
}