.film-detail {
    .overlayDetail {
        background-color: rgba(0, 0, 0, 0.532);
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0 1rem 1rem 0;
    }
}